<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujian.miniappserver.mapper.QueryMeterDataMapper">


    <select id="queryCheck" parameterType="string" resultType="com.yujian.miniappserver.entity.QueryCheck">



    </select>



    <update id="upDataCheck" parameterType="map" >


   



    </update>

</mapper>
