<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预见电源用户协议和隐私政策</title>
    <link rel="icon" href="/favicon.ico">
</head>

<STYLE>

    h5{Text-indent:2em}
</STYLE>
<body>




<h2 style="text-align: center;color: red">《预见电源（充电桩）充值及用电的服务协议》</h2>


<h3>尊敬的用户：</h3>
<h4 style="Text-indent:2em">为保障您的合法权益，请您在预见电源（充电桩）上充值及用电前仔细阅读本协议，当您勾选服务协议点击“充值’按钮后，即视为您已阅读、理解本协议，并同意按本协议的规定参与充值。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册或登录程序。</h4>
<h4>1.充值说明</h4>
<h5>1.1充值方法可根据手机app或小程序上充值步骤指示完成；</h5>
<h5>1.2 预见电源（充电桩）有权对app或小程序内的所有充值促销活动等金额进行调整；</h5>
<h5>1.3 预见电源（充电桩）充值次数和金额不设限制。</h5>


<h4>2计价方式及余额说明</h4>
<h5>2.1 计价方式</h5>
<h5>预见电源（充电桩）收费标准根据供电部门的价格基础上，增加服务费和促销活动赠送金额而确定，并随着供电部门的基础价格浮动进行调整。您在扫码下单时，请仔细确认所购买服务的名称、价格、数量、型号等信息，您在充电及用电时需确保充电账户余额大于0元。</h5>
<h5>2.2余额构成</h5>
<h5>余额是指您实际支付的充值本金加上预见电源（充电桩）促销活动赠送的金额以及用电后剩余的返现金额构成的账户余额（人民币）。</h5>
<h5>2.3 充值余额的有效期（即充值、赠送及返现金额的有效期限）为自充值日起至用完即止。</h5>
<h5>2.4 余额使用规则</h5>
<h5>充值时附有赠送金额或者使用过优惠券的充值金额，无论是充值金额还是预见电源（充电桩）的赠送金额都只能用于支付预见电源（充电桩）涉及的所有充电服务,不支持提现，建议您充值时选择适当金额；没有享受过任何返现优惠的充值金额在用户需要时可以实现退款。</h5>

<h5>2.5 正当性保护</h5>
<h5>预见电源（充电桩）平台包含充值赠送在内的所有优惠推广活动仅面向正当、合法使用预见电源（充电桩）平台充电服务的用户。一旦您存在利用预见电源（充电桩）平台的规则漏洞进行任何形式的作弊行为（包括但不限于通过预见电源（充电桩）平台的活动获得不正当的经济利益），预见电源（充电桩）平台有权取消与作弊行为相关账户赠送金额、追回您作弊所得的不正当经济利益、关闭作弊账户或与您相关的所有账户，并保留取消您后续使用预见电源（充电桩）平台服务的权限及依据严重程度追究您的法律责任。</h5>

<h4>3.账户安全</h4>

<h5>3.1您知悉并承诺，您必须为符合中华人民共和国（基于本协议之目的不包括中国香港、澳门及台湾地区，下简称“中国”）法律规定的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人、法人及其他组织。您提交的相关注册资料应当遵守法律法规、社会主义制度、国家利益、公民合法权益、公序良俗、信息真实等原则，不应提交任何违法或不良信息，相关资料如有变动，您应及时更新。如果因您所提供的注册资料不合法、不真实、不准确或未及时更新，从而导致相关法律责任或不利后果的，您将承担相应的法律责任及不利后果。</h5>
<h5>您应自行妥善保管好您在预见电源（充电桩）内的app或小程序账号以及通过账号获取的验证码信息。若因您丢失或泄露了账户和验证码等相关信息，由此引起的账号被盗及该账户内充值余额被盗用等风险和损失应由您自行承担，您不得将此作为取消交易、拒绝付款的理由。</h5>
<h5>3.2 如您发现预见电源（充电桩）app或小程序账号被盜用，建议及时联系珠海市预见科技有限公司（0756-8535958）处理。</h5>
<h5>  3.3您的账户为您自行设置并由您保管，我们任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户。账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，预见电源（充电桩）并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。</h5>

<h4>4.管辖与法律适用</h4>
<h5>4.1 本协议签订地为中华人民共和国广东省珠海市香洲区。</h5>
<h5>
    4.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</h5>
<h5>
    4.3 若您和预见电源（充电桩）之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商不成，您可以将纠纷或争议提交至本协议签订地有管辖权的人民法院管辖。</h5>
<h5>4.4 本协议条款无论因何种原因部分无效，其余条款仍有效，对各方具有约束力。</h5>
<h4>5.专用账户说明</h4>
<h5>5.1 专用账户是用户下载预见电源（充电桩）app后自主注册并自行保管的个人账户，仅用于我公司发行的所有预见电源（充电桩）使用，在使用过程中，如果用户自己操作不当遇到任何资金盗用等风险、损失和纠纷，均与预见电源（充电桩）和预见电源（充电桩）app无关，预见电源（充电桩）和预见电源（充电桩）app不承担任何法律责任。</h5>

<h4>6.其他 <br>

    <h5>

        6.1预见电源（充电桩）有权在必要时变更本协议条款，您可以在预见电源（充电桩）app或小程序的相关页面查阅最新版本的协议条款。本协议条款变更后，如果您继续使用我公司预见电源（充电桩）服务，即视为您已接受变更后的协议。
        6.2预见电源（充电桩）依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，预见电源（充电桩）并不承担相应的违约责任：
        (1)因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；
        (2)因电力供应故障、通讯网络故障等公共服务因素或第三人因素；
        (3)在预见电源（充电桩）已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障等因素。
        6.3在法律允许的范围内，预见电源（充电桩）不对任何间接性、后果性、惩罚性、偶然性的损害承担责任。
    </h5>

</h4>



<h2 style="text-align: center;color: red">《用户隐私政策》</h2>

<h3 style="Text-indent:2em">预见电源（充电桩）非常重视对您的个人隐私保护，我们将按照本隐私政策(以下称“本政策”)收集、使用、共享和保护您的个人信息。在您使用预见电源（充电桩）的产品及服务前，请您仔细阅读并全面了解本政策。如果您是未成年人，您的监护人需要仔细阅读本政策并同意您依照本政策使用我们的产品及服务。当您浏览、访问预见电源（充电桩）及/或使用预见电源（充电桩）app时，即表示您已经同意我们按照本政策来收集、使用、共享和保护您的个人信息。
    我们收集、使用、共享和保护您的个人信息，是在遵守国家法律法规规定的前提下，出于向您提供预见电源（充电桩）产品及服务并不断提升产品及服务质量的目的。
</h3>
<h4>一、信息的收集范围</h4>
<h5>您授权我们收集您的以下个人信息:</h5>
<h5>1、身份识别信息，包括但不限于您的姓名、身份证明、联系地址、电话号码、生物特征信息;</h5>
<h5>2、您所处的地理位置信息;</h5>
<h5>3、您可以通过多种方式管理您的个人信息，例如更新您的个人资料、撤回授权以及注销您的账户。</h5>
<h5>如果您在管理您的个人信息时遇到问题，您可以与我们联系。但也请您理解，我们可能会因为履行法律法规义务或者我们提供服务必要性的原因无法完全满足您的请求。
    我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才可能公开披露您的个人信息：</h5>
<h5>（一）根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</h5>
<h5>（二）根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。
</h5>
<h5>共享、转让、公开披露个人信息时事先征得授权同意的例外。</h5>
<h5>（一）与国家安全、国防安全有关的；</h5>
<h5>（二）与公共安全、公共卫生、重大公共利益有关的；</h5>
<h5>（三）与犯罪侦查、起诉、审判和判决执行；</h5>
<h5>（四）出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</h5>
<h5>（五）其他维护公共利益的情形；</h5>
<h5>（六）您自行向社会公众公开的个人信息；</h5>
<h5>（七）从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。但是您明确拒绝或者处理该信息侵害您重大利益的除外。</h5>
<h5>（八）根据法律规定，共享、转让、公开披露经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，我们对此类数据的处理将无需另行向您通知并征得您的同意。</h5>







<h4>二、信息的保护</h4>
<h5>1、个人信息的保存</h5>
<h5>（一）数据存储：除非依据法律法规或双方约定，我们仅会在实现目的所必需的最短时间内留存您的相关个人信息，同时将结合法律有强制的留存要求期限的规定确定，如《中华人民共和国电子商务法》要求商品和服务信息、交易信息保存时间自交易完成之日起不少于三年。在超出保留期间后，我们会根据国家法律法规的要求删除您的个人信息，或使其匿名化处理。在您主动注销账号时，我们将根据法律法规的要求尽快删除您的个人信息或匿名化处理。</h5>
<h5>（二）保存地域：我们在中华人民共和国境内收集和产生的个人信息，将存储在中国境内。</h5>
<h5>（三）终止运营：如果发生终止运营情形，我们将会至少提前 30 天通知您，并在终止运营后对您的个人信息进行删除或匿名化处理。</h5>

<h4>2、个人信息的保护</h4>
<h5>（一）数据安全措施</h5>
<h5>为保障您的信息安全，我们努力采取各种符合业界标准的物理、电子和管理方面的安全措施来保护您的个人信息。预见电源（充电桩）通过信息接触者保密协议、监控等方式方法来对数据进行全面安全控制。防止您的个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。</h5>



<h4>三、访问和更正您的个人信息 </h4>
<h5>（一）除法律法规规定外，您有权随时访问和更正您的个人信息。对于您在使用我们服务过程中产生的其他个人信息需要访问或更正，请随时联系我们（联系电话：0756-8535958）。我们会根据本隐私政策所列明的方式和期限响应您的请求。</h5>


<h5>（二）您无法访问和更正的个人信息：您的部分个人信息我们还无法为您提供访问和更正的服务，这些信息主要是为了提升您的用户体验和保证交易安全所收集的您的设备信息、您使用附加功能时产生的个人信息。上述信息我们会在您的授权范围内进行使用，您无法访问和更正，但您可联系我们进行删除或做匿名化处理。</h5>

<h5>（三）您如需要您的个人信息副本，您可以通过本隐私政策中的客服电话联系我们，在核实您的身份后，我们将向您提供您在我们的服务中的个人信息副本（包括基本资料、身份信息、对账单），但法律法规另有规定的或本隐私政策另有约定的除外。</h5>

<h5>二、删除您的个人信息 </h5>
<h5>（一）如果我们处理个人信息的行为违反法律法规；</h5>
<h5>（二）如果我们收集、使用您的个人信息，却未征得您的同意；</h5>
<h5>（三）如果我们处理个人信息的行为违反了与您的约定；</h5>
<h5>（四）如果您注销了预见电源（充电桩）账户；</h5>
<h5>（五）如果我们终止服务及运营。</h5>
<h5 style="Text-indent:2em">若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。当您从我们的服务中删除信息后，我们不能保证立即在备份系统中删除相应的信息，但会在备份更新时删除这些信息。但法律法规规定要求我们必须尽到保存、记录、备份义务的情形除外。</h5>

<h5 style="Text-indent:2em">为了保护您的隐私，我们不会以任何方式和途径向您推送涉及宗教信仰、性、疾病内容的促销或商品信息。</h5>
<h5 style="Text-indent:2em">互联网并非绝对安全的环境，请注意，您在使用我们服务时自愿共享甚至公开分享的信息，可能会涉及您或他人的用户信息甚至个人敏感信息。请您更加谨慎的选择是否在使用我们的服务时共享甚至公开分享相关信息。</h5>

<h4 style="text-align: right">
    珠海市预见科技有限公司
    开发者联系电话：0756-8535958
    邮箱：2049334114@qq.com

</h4>





</body>
</html>